@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;900&family=Source+Code+Pro");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Source Code Pro", monospace;
}
